.image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .col-md-6 {
      width: 100%;
    }
    .image {
      margin-bottom: 10px;
    }
    button {
      position: relative;
      bottom: 0;
      left: 0;
      margin-top: 10px;
    }
  }
  